{block #content}

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 n:block="title">{_coupon.admin.generate.title}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {control generateForm}
            <hr>
        </div>
    </div>

{/block}
