services:
	moduleManager:
		setup:
			- addModule(Crm\CouponModule\CouponModule())

	couponsRepository: Crm\CouponModule\Repository\CouponsRepository
	couponCodesRepository: Crm\CouponModule\Repository\CouponCodesRepository

	- Crm\CouponModule\Forms\AdminFilterFormFactory
	- Crm\CouponModule\Forms\GenerateFormFactory

	couponGenerator:
	    class: Crm\CouponModule\DefaultCouponGenerator
