services:
	moduleManager:
		setup:
			- addModule(Crm\CouponModule\CouponModule())

	couponsRepository: Crm\CouponModule\Repository\CouponsRepository
	couponCodesRepository: Crm\CouponModule\Repository\CouponCodesRepository

	- Crm\CouponModule\DataProvider\FilterUsersFormDataProvider
	- Crm\CouponModule\Forms\AdminFilterFormFactory
	- Crm\CouponModule\Forms\GenerateFormFactory

	- Crm\CouponModule\Repository\SubscriptionHasCouponCodeCriteria

	couponGenerator:
	    class: Crm\CouponModule\DefaultCouponGenerator

	activateCouponApiHandler: Crm\CouponModule\Api\ActivateCouponApiHandler
