services:
	moduleManager:
		setup:
			- addModule(Crm\CouponModule\CouponModule())

	couponsRepository: Crm\CouponModule\Repositories\CouponsRepository
	couponCodesRepository: Crm\CouponModule\Repositories\CouponCodesRepository

	- Crm\CouponModule\DataProviders\FilterUsersFormDataProvider
	- Crm\CouponModule\Forms\AdminFilterFormFactory
	- Crm\CouponModule\Forms\GenerateFormFactory
	- Crm\CouponModule\Forms\EditCouponFormFactory

	- Crm\CouponModule\Scenarios\SubscriptionHasCouponCodeCriteria

	couponGenerator:
		factory: Crm\CouponModule\Generator\DefaultCouponGenerator

	activateCouponApiHandler: Crm\CouponModule\Api\ActivateCouponApiHandler
