menu:
	coupons: Coupons
	generator: Coupon generator

admin:
	default:
		title: Coupons
		total: total
		unused: available
		fields:
			coupon: Coupon
			type: Type
			user: User
			subscription_type: Subscription type
			subscription_type_name: Type of created subscription
			created_at: Created at
			assigned_at: Assigned at

	generate:
		title: Coupon generator

	component:
		filter_form:
			text:
				label: Coupon
				placeholder: "e.g. ABC123DE"
			type:
				label: Type
				placeholder: "Select type of coupon"
			submit: Filter
			cancel: Cancel filter

		generate_form:
			type:
				label: Type of coupon
				placeholder: "e.g. summer promo"
				description: "Type of coupon groups multiple coupons within the same promotion."
				required: Type of coupon is required
			subscription_type_id:
				label: Subscription type
				placeholder: "e.g. web/monthly"
				description: "Subscription type determines what kind of subscription users get when they activate the coupon. Subscription is activated with default settings based on the subscription type configuration"
				required: Subscription type is required
			subscription_type_name_id:
				label: Type of created subscription
				placeholder: "e.g. regular"
				description: "Type of created subscription is being used to determine whether subscription should be counted as something user paid for or not across the CRM and to triger different (notification) scenarios."
				required: Type of created subscription is required
			count:
				label: Count
				placeholder: e.g. 10
				required: "Number of coupons to generate is required"
			submit: Generate
			success: Coupons were generated.