menu:
	coupons: Kupóny
	generator: Generátor kupónů

admin:
	default:
		title: Kupóny
		total: celkově
		unused: volných
		fields:
			coupon: Kupón
			type: Typ
			user: Uživatel
			subscription_type: Typ předplatného
			subscription_type_name: Typ vytvořeného předplatného
			created_at: Vytvořený
			assigned_at: Přiřazený
			expires_at: Expirace
		export:
			csv: Export CSV

	generate:
		title: Generátor kupónů

	filter_users:
		coupon:
			label: Kupón
			placeholder: "např. ABC123DE"

	scenarios:
		subscription_has_coupon_code:
			label: Předplatné mě přiřazen kupón

	component:
		filter_form:
			coupon:
				label: Kupón
				placeholder: "např. ABC123DE"
			email:
				label: E-mail
				placeholder: "napr. test@test.sk"
			type:
				label: Typ
				placeholder: "Vyberte typ kupónu"
			submit: Filtruj
			cancel: Zruš filtr

		generate_form:
			type:
				label: Typ kupónu
				placeholder: "např. summer promo"
				description: "Typ kupónu by měl rozlišovat různé akce v případě potřeby generování více kupónů."
				required: Typ kupónu je povinen
			subscription_type_id:
				label: Typ předplatného
				placeholder: "např. web / měsíc"
				description: "Typ předplatného určuje jaké předplatné uživatel dostane po aktivaci kupónu. Předplatné se aktivuje standardním způsobem podle nastavení typu předplatného."
				required: Typ předplatného je povinen
			subscription_type_name_id:
				label: Typ vytvořeného předplatného
				placeholder: "např. regular"
				description: "Typ vytvořeného předplatného se používá ke spuštění různých (notifikačních) scénářů."
				required: Typ vytvořeného předplatného je povinen
			count:
				label: Počet kupónů
				placeholder: "např. 10"
				required: "Počet kupónů, které se mají vygenerovat, je povinen"
			is_paid:
				label: "Placený"
				description: "Placený se používá k určení zda je předplatné placené nebo ne (napříč celým CRM)."
			expires_at:
				label: "Datum expirace kupónu"
				placeholder: např. 14.2.2016 14:21
			prefix:
				label: Prefix
				placeholder: např. ABC-
				description: Prefix který se použije při každém generovaném kódu.
			submit: Vygenerovat
			success: Kupóny byly vygenerovány.
